{% extends 'layout/angular.twig' %}

{% block content %}
    <div class="row">
	    <ul class="menu">
		    <li><a href="#/index">Example</a></li>
		    <li><a href="#/index2">Example 2</a></li>
	  	</ul>
    </div>
    <div class="row">
    	<div ng-view></div>
	</div>
{% endblock %}