{% extends "layout.twig" %}

{% block menu %} 
    {% include 'includes/menu.twig' with {'option': 'about'} %}
{% endblock %}

{% block title %}Nosotros{% endblock %}

{% block content %}
    <div class="row">
        <h1>About Page</h1>
    </div>
{% endblock %}