<style>
    .wrapper {
        margin: 20px auto;
    }
</style>
<div class="row">
    <div class="col-12 col-md-6 col-sm-6 col-lg-6">
        <div class="box box-info" style="padding: 10px">
            <div class="box-header">
                <h3 class="box-title">Silex Generator Dashboard</h3>
            </div>
            <div class="box-body">
                <div class="row-fluid">
                    <p>Extra data</p>
                    <p>Extra data</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-sm-6 col-lg-6">
        <div class="box box-info" style="padding: 10px">
            <div class="box-header">
                <h3 class="box-title">Envíanos tu mensaje</h3>
            </div>
            <form role="form" ng-submit="contact()">
                <div class="box-body">
                    <!-- Error callout -->
                    <div class="callout callout-danger" ng-if="error">
                        <button type="button" class="close" onclick="$('.callout').fadeOut(1000)">×</button>
                        <h4>Error</h4>
                        <p>{{ error }}</p>
                        <pre>{{ details }}</pre>
                    </div>
                    <!-- Success callout -->
                    <div class="callout callout-info" ng-if="success">
                        <button type="button" class="close" onclick="$('.callout').fadeOut(1000)">×</button>
                        <h4>Sign In Successful</h4>
                        <p>{{ success }}</p>
                        <pre>{{ details }}</pre>
                    </div>
                    <div class="control-group" style="margin: 0 auto;">
                        <label class="control-label" for="name">Name:</label>
                        <div class="controls">
                            <input 
                                type="text"
                               class="form-control"
                               id="name"
                               title="Insert your name"
                               placeholder="Insert your name..."
                               ng-model="name"
                               required
                               autofocus>
                        </div>
                    </div>
                    <div class="control-group" style="margin: 0 auto;">
                        <label class="control-label" for="subject">Subject:</label>
                        <div class="controls">
                            <input 
                                type="text"
                                class="form-control"
                                id="subject"
                                title="Insert subject"
                                placeholder="Insert subject..."
                                ng-model="subject"
                                required>
                        </div>
                    </div>
                    <div class="control-group" style="margin: 0 auto;">
                        <label class="control-label" for="email">Email:</label>
                        <div class="controls">
                            <input 
                                type="email"
                                class="form-control"
                                id="email"
                                title="Insert email"
                                placeholder="Insert email address..."
                                ng-model="email"
                                required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="message">Message:</label>
                        <div class="controls">
                            <textarea 
                                rows="3"
                                class="form-control"
                                id="message"
                                title="Insert message."
                                placeholder="Insert your message..."
                                ng-model="message"
                                required></textarea>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary"><b>Send</b></button>
                </div>
            </form>
        </div>
    </div>
</div>