<!-- Extra styles -->
<style>
  @import url("../modules/angularjs/css/sign.css");
</style>
<!-- Sign Up Row -->
<div class="row signup-row">
    <div class="col-xs-12">
        <form class="form-signin form-signup" role="form" ng-submit="signUp()">
            <h2>Sign Up <small>It's free and always will be.</small></h2>
            <hr class="colorgraph">
            <!-- Error callout -->
            <div class="callout callout-danger" ng-if="error">
                <button type="button" class="close" onclick="$('.callout').fadeOut(1000)">×</button>
                <h4>Error</h4>
                <p>{{ error }}</p>
                <pre ng-if="details">{{ details }}</pre>
            </div>
            <!-- Success callout -->
            <div class="callout callout-info" ng-if="success">
                <button type="button" class="close" onclick="$('.callout').fadeOut(1000)">×</button>
                <h4>Sign In Successful</h4>
                <p>{{ success }}</p>
                <pre ng-if="details">{{ details }}</pre>
            </div> 
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input 
                            type="text" 
                            ng-model="firstName" 
                            class="form-control input-lg" 
                            placeholder="First Name" 
                            tabindex="1" 
                            required=""
                            autofocus="">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input 
                            type="text" 
                            ng-model="lastName"  
                            class="form-control input-lg" 
                            placeholder="Last Name" 
                            tabindex="2"
                            required="">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input 
                    type="text" 
                    ng-model="displayName" 
                    class="form-control input-lg" 
                    placeholder="Display Name" 
                    tabindex="3">
            </div>
            <div class="form-group">
                <input 
                    type="email" 
                    ng-model="email" 
                    class="form-control input-lg" 
                    placeholder="Email Address" 
                    tabindex="4"
                    required="">
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input 
                        type="password" 
                        ng-model="password" 
                        class="form-control input-lg" 
                        placeholder="Password" 
                        tabindex="5"
                        required="">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input 
                            type="password" 
                            ng-model="passwordConfirm" 
                            class="form-control input-lg" 
                            placeholder="Confirm Password" 
                            tabindex="6"
                            required="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-3 col-md-3">
                    <span class="button-checkbox">
                        <button 
                            type="button" 
                            class="btn" 
                            data-color="info" 
                            tabindex="7"
                            ng-click="onAgree()">I Agree</button>
                        <input 
                            type="checkbox" 
                            name="t_and_c" 
                            id="t_and_c" 
                            class="hidden">
                    </span>
                </div>
                <div class="col-xs-8 col-sm-9 col-md-9">
                     By clicking <strong class="label label-primary">Register</strong>, you agree to the <a id="terms-and-conditions" href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
                </div>
            </div>
            
            <hr class="colorgraph">
            <div class="row">
                <div class="col-xs-12 col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
                <div class="col-xs-12 col-md-6"><a href="#/sign-in" class="btn btn-success btn-block btn-lg">Sign In</a></div>
            </div>
        </form>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">I Agree</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script async src="../modules/angularjs/js/sign-up.jquery.js"></script>