<div class="row login-row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <form class="form-signin" ng-submit="signIn()">
                    <h2 class="form-signin-heading" style="text-align: center">Sign In</h2>
                    <!-- Error callout -->
                    <div class="callout callout-danger" ng-if="error">
                        <button type="button" class="close" onclick="$('.callout').fadeOut(1000)">×</button>
                        <h4>Error</h4>
                        <p>{{ error }}</p>
                        <pre>{{ details }}</pre>
                    </div>
                    <!-- Success callout -->
                    <div class="callout callout-info" ng-if="success">
                        <button type="button" class="close" onclick="$('.callout').fadeOut(2000)">×</button>
                        <h4>Sign In Successful</h4>
                        <p>{{ success }}</p>
                        <pre>{{ details }}</pre>
                    </div>

                    <div class=" input-group">
                        <span class="input-group-addon glyphicon glyphicon-user"></span>
                        <input type="text"
                               class="form-control"
                               id="_username"
                               ng-model="username"
                               placeholder="Email"
                               required autofocus>
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-lock"></span>
                        <input type="password"
                               class="form-control"
                               id="_password"
                               ng-model="password"
                               placeholder="Password"
                               required>
                    </div>
                    <label class="checkbox">
                        <input type="checkbox"
                               id="recordarme"
                               ng-model="rememberme" 
                               ng-true-value="true" 
                               ng-false-value="false"> Rememberme
                    </label>
                    <div>
                        <button class="btn btn-large btn-primary" type="submit">Sign In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>