<div class="container">
    <div class="row-fluid col-12 col-md-12 col-sm-12 col-lg-12 footer-custom">
        <ul class="list-inline">
            <li>
                <a href="#/home">Home</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
                <a href="#/about">About</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
                <a href="#/contact">Contáctanos</a>
            </li>
        </ul>
        <div class="copyright">
            <p>&copy; 2016 Silex Generator Dashboard</p>
            <p>Desarrollado por: <b>Ramón Serrano</b> <a href="mailto:ramon.calle.88@gmail.com">ramon.calle.88@gmail.com</a></p>
        </div>
    </div>
</div>